<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :description, "Description" %><br>
    <%= f.text_field :description %><br>

    <%= f.label :partner %><br>
    <%= f.text_field :partner %><br>

    <%= f.label :coreValue1 %><br>
    <%= f.text_field :coreValue1 %><br>

    <%= f.label :coreValue2 %><br>
    <%= f.text_field :coreValue2 %><br>

    <%= f.label :coreValue3 %><br>
    <%= f.text_field :coreValue3 %><br>

    <%= f.label :developingSkills %><br>
    <%= f.text_field :developingSkills %><br>





    <!-- <%= f.label :tagline %> -->

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
