<style>
  .mybutton{
    background:#f26271; 
    color:white; 
    border:none;
  }

  .card{
    width:30%;
    margin: 1%;

    display:inline-block;
  }

  .image{
    
    height:150px;
    width:90%;
    border-radius:5px;
    background:  url(https://ununsplash.imgix.net/photo-1416339426675-1f96fd81b653?fit=crop&fm=jpg&h=800&q=75&w=1050) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:inline-block;
  }

  .tags{
    margin-bottom:5px;
  }


</style>


<div class="container">

  <h1>Find a Project!</h1>


  <% @projects.each do |project| %>
    <div class="panel panel-default card">
      <div class="panel-body" >
            <h2>Project title</h2>
            <div class="image"></div>
            <p style="margin-top:10px"><%= project.description %></p>
            <h3>Project Requirements</h3>
            <div >
              <div id="core-skills" class="tags">
                <span class="label label-primary">Primary</span>
                <span class="label label-primary">Primary</span>
              </div>
              <div id="developing-skills" class="tags">
                <span class="label label-warning">Warning</span>
                <span class="label label-warning">Warning</span>
              </div>
            </div>
            <div style="padding:20px 0">
              <%= link_to "Join", project, class: "mybutton btn btn-lg btn-default" %>
              <div style="float:right"><%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
            
      </div>
    </div>
  <% end %>
        


  <div style="display:block;"><%= link_to 'New Project', new_project_path, class: "mybutton btn btn-lg btn-default", style: "float:right" %></div>
</div>