<style>
    #sidebar {
    width:15%;
    height:100%;
    position: fixed;
    background:#333333;
    float:left;
    display:block;

  }

  #sidebar ul {
    width:100%;
    margin-top:30px;
  }

  #sidebar li {
    position: relative;
    left:-30px;
    color:white;
    font-size: 26px;
    width:100%;
    padding:10px;
    transition: all 1s linear 0s;

  } #sidebar li:hover{
    background:#5E5F61;
    transition: all 1s linear 0s;
  }

  #sidebar .sidebar-active {
    background:#292627;
  }


  .mybutton{
    background:#f26271;
    color:white;
    border:none;
  }

  .card{
    width:30%;
    margin: 1%;

    display:inline-block;
  }

  .image{

    height:150px;
    width:90%;
    border-radius:5px;
    background:  url(https://ununsplash.imgix.net/photo-1416339426675-1f96fd81b653?fit=crop&fm=jpg&h=800&q=75&w=1050) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:inline-block;
  }

  .tags{
    margin-bottom:5px;
  }

  .divider{
    margin-top:20px;
    width:100%;
    height:1px;
    background:#a7a9ab;
    margin-bottom:20px;
    }
  .header-image {
      background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),url(https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding:100px;
      color:white;
    }

</style>

<div id="sidebar">
  <%= image_tag("logo-text.png", style:"max-height:80px; width:auto; z-index:999; margin:10px;") %>
  <div style="width:100%; height:2px; background:#2ABB9B"></div>
  <ul>
    <li><%= link_to "Dashboard", "http://localhost:3000/profile", style:"color:white; text-decoration:none"%></li>
    <li><%= link_to "Create a Project", "http://localhost:3000/projects/new", style:"color:white; text-decoration:none" %></li>
    <li class="sidebar-active"><%= link_to "Find a Project", "http://localhost:3000/projects/", style:"color:white; text-decoration:none" %></li>
  </ul>
</div>

<header class="header-image">
</header>
<div class="container">

  <h1>Find a Project</h1>
  <p>Pick an existing project, or create a new one!</p>
  <div style="display:block;">
  <%= link_to 'New Project', new_project_path, class: "mybutton btn btn-lg btn-default" %></div>
  <div class="divider">
    <div style="block">
      <div class="panel panel-default card">
       <div class="panel-body" >

             <div class="image" style="background-image:url(IMAGEURL)"></div>
               <h2><PROJECT TITLE></h2>
               <p style="margin-top:10px"><DESCRIPTION></p>
               <h3>Project Requirements</h3>
               <div >
                 <div id="core-skills" class="tags">
                   <span class="label label-primary">TAG 1</span>
                   <span class="label label-primary">TAG 2</span>
                 </div>
                 <div id="developing-skills" class="tags">
                   <span class="label label-warning">TAG 3</span>

                 </div>
               </div>
               <div style="padding:20px 0">
                 <div class="mybutton btn btn-lg btn-default">Join</div>
                 <div style="float:right"><a href="http://lolcats.com">Edit</a>
                 <a href="facebook.com">Destroy</a></div>
             </div>

       </div>
      </div>
      <div class="panel panel-default card">
       <div class="panel-body" >

             <div class="image" style="background-image:url(IMAGEURL)"></div>
               <h2><PROJECT TITLE></h2>
               <p style="margin-top:10px"><DESCRIPTION></p>
               <h3>Project Requirements</h3>
               <div >
                 <div id="core-skills" class="tags">
                   <span class="label label-primary">TAG 1</span>
                   <span class="label label-primary">TAG 2</span>
                 </div>
                 <div id="developing-skills" class="tags">
                   <span class="label label-warning">TAG 3</span>

                 </div>
               </div>
               <div style="padding:20px 0">
                 <div class="mybutton btn btn-lg btn-default">Join</div>
                 <div style="float:right"><a href="http://lolcats.com">Edit</a>
                 <a href="facebook.com">Destroy</a></div>
             </div>

       </div>
      </div>
      <div class="panel panel-default card">
       <div class="panel-body" >

             <div class="image" style="background-image:url(IMAGEURL)"></div>
               <h2><PROJECT TITLE></h2>
               <p style="margin-top:10px"><DESCRIPTION></p>
               <h3>Project Requirements</h3>
               <div >
                 <div id="core-skills" class="tags">
                   <span class="label label-primary">TAG 1</span>
                   <span class="label label-primary">TAG 2</span>
                 </div>
                 <div id="developing-skills" class="tags">
                   <span class="label label-warning">TAG 3</span>

                 </div>
               </div>
               <div style="padding:20px 0">
                 <div class="mybutton btn btn-lg btn-default">Join</div>
                 <div style="float:right"><a href="http://lolcats.com">Edit</a>
                 <a href="facebook.com">Destroy</a></div>
             </div>

       </div>
      </div>
    </div>
    <div style="display:block">
    <% @projects.each do |project| %>
      <div class="panel panel-default card">
        <div class="panel-body" >

              <div class="image"></div>
              <h2><%= project.title %></h2>
              <p style="margin-top:10px"><%= project.description %></p>
              <h3>Project Requirements</h3>
              <div >
                <div id="core-skills" class="tags">
                  <span class="label label-primary">Front End Dev</span>
                  <span class="label label-primary">Copywriting</span>
                </div>
                <div id="developing-skills" class="tags">
                  <span class="label label-warning">Photography</span>

                </div>
              </div>
              <div style="padding:20px 0">
                <%= link_to "Join", project, class: "mybutton btn btn-lg btn-default" %>
                <div style="float:right"><%= link_to 'Edit', edit_project_path(project) %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </div>

        </div>
      </div>

    <% end %>

  </div>


</div>
