<style>
    #sidebar {
    width:15%;
    height:100%;
    position: fixed;
    background:#333333;
    float:left;
    display:block;

  }

  #sidebar ul {
    width:100%;
    margin-top:30px;
  }

  #sidebar li {
    position: relative;
    left:-30px;
    color:white;
    font-size: 26px;
    width:100%;
    padding:10px;
    transition: all 1s linear 0s;

  } #sidebar li:hover{
    background:#5E5F61;
    transition: all 1s linear 0s;
  }

  #sidebar .sidebar-active {
    background:#292627;
  }


  .mybutton{
    background:#f26271;
    color:white;
    border:none;
  }

  .card{
    width:30%;
    margin: 1%;

    display:inline-block;
  }

  .image{

    height:150px;
    width:90%;
    border-radius:5px;
    background:  url(https://ununsplash.imgix.net/photo-1416339426675-1f96fd81b653?fit=crop&fm=jpg&h=800&q=75&w=1050) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:inline-block;
  }

  .tags{
    margin-bottom:5px;
  }


</style>

<div id="sidebar">
  <%= image_tag("logo-text.png", style:"max-height:80px; width:auto; z-index:999; margin:10px;") %>
  <div style="width:100%; height:2px; background:#2ABB9B"></div>
  <ul>
    <li><%= link_to "Desktop", "http://localhost:3000/", style:"color:white; text-decoration:none"%></li>
    <li><%= link_to "Create a Project", "http://localhost:3000/projects/new", style:"color:white; text-decoration:none" %></li>
    <li class="sidebar-active"><%= link_to "Find a Project", "http://localhost:3000/projects/", style:"color:white; text-decoration:none" %></li>
  </ul>
</div>


<div class="container">

  <h1>Find a Project!</h1>
  <div style="display:block;"><%= link_to 'New Project', new_project_path, class: "mybutton btn btn-lg btn-default", style: "float:left" %></div>

  <% @projects.each do |project| %>
    <div class="panel panel-default card">
      <div class="panel-body" >
            <h2><%= project.title %></h2>
            <div class="image"></div>
            <p style="margin-top:10px"><%= project.description %></p>
            <h3>Project Requirements</h3>
            <div >
              <div id="core-skills" class="tags">
                <span class="label label-primary">Primary</span>
                <span class="label label-primary">Primary</span>
              </div>
              <div id="developing-skills" class="tags">
                <span class="label label-warning">Warning</span>
                <span class="label label-warning">Warning</span>
              </div>
            </div>
            <div style="padding:20px 0">
              <%= link_to "Join", project, class: "mybutton btn btn-lg btn-default" %>
              <div style="float:right"><%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>

      </div>
    </div>
  <% end %>



  
</div>
